@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    3056 S. 24th St.<br />
    Kansas City, KS 66106<br />
    <abbr title="Phone">P:</abbr>
    913-907-6294<br />
    www.kchitter.com
</address>
