@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>KC Hitter</h1>
    <p class="lead">KC Hitter is the premier batting and swing doctor in the Kansas City area with the experience to match it that competitors do not have.</p>
    <p><a href="http://www.kchitter.com" class="btn btn-primary btn-lg">Check Us Out &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>HIT</h2>
        <p>
            KC brings 27+ years of hitting training, 2 years of NJCAA head coaching experience and 25 + years of associate MLB scouting to young, aspiring hitters.
        </p>
    </div>
    <div class="col-md-4">
        <h2>KC Hitter Lab</h2>
        <p>KC founded KC Hitter Lab. In the KC Hitter Lab we founded and developed our suite of hitter tools that make up the <b>HitterzEYE Hitting Solution and System.</b> </p>
        <p>Neuro - Physical Training for Hitters</p>
    </div>
    <div class="col-md-4">
        <h2>HIT PLUS</h2>
        <p>KC Hitter combines practical hitting coaching experience from every amateur segment and our MLB accepted proprietary hitter development hardware and software hitting solution gives the hitter never before seen gains. </p>
    </div>
</div>